/* MEDIAQUERY PARA MOBILE - ESTOS ESTILOS SE APLICAN A VISTA DE CEULAR*/
@media screen and (max-width:767px){
    .pagina-index select{
        width: 100%;
    }
}
/* MEDIAQUERY PARA TABLET - ESTOS ESTILOS SE APLICAN A VISTA DE TABLETS*/
@media screen and (min-width:768px) and (max-width:1023px){
    .pagina-index select{
        width: 48.5%;
        margin-right: 0;
        
    }
    .pagina-index select:nth-child(even){
        margin-right: 16px;
    }
}



@media screen and (min-width:1024px) and (max-width:1360px){
    .pagina-index select{
        width: 23.3%;
    }
}

@media screen and (min-width: 1440px){
    .center, .topnav, footer, .tutoriales, section, select, .bottomnav, .container{
        width: 1200px;
        }
    .container{
        padding: 0;
    }
    

}